.position{
    position: absolute!important;
    z-index: 2!important;
    right: 0px;
}



.main-banner{
    width: 100%;
    position: relative;
    max-height: 1000px;
    overflow: hidden;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-text>p:nth-child(1){
    color: white;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
}

.banner-text>p:nth-child(1)>span{
    color: #F58840;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
}














.choose-us-container {
    width: 100%;
    padding: 0px 40px;
    max-width: 1440px;
    margin:40px auto 40px auto;
}



.choose-us-partition {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.choose-us-partition picture {
    width: 80%;
    height: 850px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);;
}

.choose-us-partition picture img {
    width: 118%;
}

.choose-us-partition article {
    padding-left: 50px;
    padding-top: 10px;
    width: 110%;
}

.choose-us-partition article ol li {
    padding-bottom: 40px;
    list-style: marker;
}

.choose-us-partition article ol li::marker{
    font-size: 25px;
    line-height: 40px;
    color: #999999;
}

.choose-us-partition article ol li p {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 7px;
    color:#F58840;
}

.choose-us-partition article a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #F58840;
    padding: 10px 35px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.7px;
    margin-top: 45px;
    transition: all 0.2s ease 0s;
}

.choose-us-partition article a:hover {
    color: #F59758;
    background-color: #000;
}

.title {
    width: 250px;
    margin:0px auto 80px auto;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    color: #000;
    position: relative;
}

.title span{
    color:#F58840;
}

.title::before{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -10px;
    width: 100%;
    height: 1.5px;
    background-color: #F58840;
}
